
.DS_Store
scala-lab1/.bsp/sbt.json
scala-lab1/.idea/codeStyles/codeStyleConfig.xml
scala-lab1/.idea/codeStyles/Project.xml
scala-lab1/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_6_jar.xml
scala-lab1/.idea/misc.xml
scala-lab1/.idea/modules.xml
scala-lab1/.idea/modules/scala-lab1-build.iml
scala-lab1/.idea/modules/scala-lab1.iml
scala-lab1/.idea/runConfigurations.xml
scala-lab1/.idea/sbt.xml
scala-lab1/.idea/scala_compiler.xml
